<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.o3dr.android.client">

    <uses-permission
        android:name="com.o3dr.services.android.lib.permission.ACCESS_3DR_SERVICES_API" />

    <application>
        <activity
            android:name=".utils.InstallServiceDialog"
            android:theme="@android:style/Theme.Holo.Light.Dialog.NoActionBar.MinWidth"
            android:noHistory="true"
            android:excludeFromRecents="true"
            android:launchMode="singleTask"/>
    </application>

</manifest>
