[submodule "usb-serial-for-android"]
	path = usb-serial-for-android
	url = https://github.com/arthurbenemann/usb-serial-for-android.git
[submodule "HorizontalVariableListView"]
	path = HorizontalVariableListView
	url = https://github.com/arthurbenemann/HorizontalVariableListView.git
