sudo: false
language: android
jdk: oraclejdk8

android:
  components:
    - tools
    - tools
    - platform-tools

    # The BuildTools version used by your project
    - build-tools-24.0.1
    - build-tools-23.0.3

    # The SDK version used to compile your project
    - android-23

    # Additional components
    - extra-google-google_play_services
    - extra-google-m2repository
    - extra-android-m2repository
    - extra-android-support

before_script:
    - export GRADLE_OPTS="-XX:MaxPermSize=2048m -Xmx1536m"

script: ./gradlew clean assembleDevDebug
