<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="org.droidplanner"
          android:versionCode="80"
          android:versionName="please run version.sh to get the version name">

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <supports-screens
        android:requiresSmallestWidthDp="320"/>

    <permission
        android:name=".permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name=".permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <uses-feature android:name="android.hardware.screen.portrait" />

    <!-- Support devices without Bluetooth since there are other connection types -->
    <uses-feature
        android:name="android.hardware.bluetooth"
        android:required="false" />

    <!-- Support devices without USB host mode since there are other connection types -->
    <uses-feature
        android:name="android.hardware.usb.host"
        android:required="false" />

    <!-- Support devices that don't have location services -->
    <uses-feature
        android:name="android.hardware.location.gps"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.location.network"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.location"
        android:required="false" />
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:name=".android.DroidPlannerApp"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_title"
        android:theme="@style/CustomActionBarTheme"
        android:windowSoftInputMode="adjustPan" >

        <!-- You must insert your own Google Maps for Android API v2 key in here. -->
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyDFsAn5xo-mILEirpcUsF9BU9Vb_yR-Er4" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <service android:name=".android.communication.service.MAVLinkService" >
        </service>

        <service android:name=".android.communication.service.UploaderService" />

		<activity
		    android:name=".android.activities.FlightActivity"
		    android:launchMode="singleTask" >

            <!-- Launcher Intent -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- USB connection  intent -->
            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />
            </intent-filter>

            <meta-data
                android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"
                android:resource="@xml/device_filter" />
        </activity>
        <activity
            android:name=".android.activities.EditorActivity"
            android:label="@string/editor"
            android:launchMode="singleTop"
            android:parentActivityName=".android.activities.FlightActivity" >

            <!-- Parent activity meta-data to support API level 7+ -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".android.activities.FlightActivity" />

            <!-- Intent for opening mission files -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
        <activity
            android:name=".android.activities.ConfigurationActivity"
            android:windowSoftInputMode="adjustPan"
            android:launchMode="singleTop"
            android:theme="@style/Theme.PageIndicatorDefaults"
            android:label="@string/menu_drone_setup"
            android:parentActivityName=".android.activities.SettingsActivity" >

            <!-- Parent activity meta-data to support API level 7+ -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".android.activities.SettingsActivity" />
        </activity>
        <activity android:name=".android.activities.SettingsActivity"
                  android:launchMode="singleTop"
                  android:label="@string/settings"/>

        <activity android:name=".android.activities.helpers.MapPreferencesActivity"
            android:launchMode="singleTop"
            android:label="@string/activity_title_map_provider_preferences"
            android:parentActivityName=".android.activities.SettingsActivity">
            <!-- Parent activity meta-data to support API level 7+ -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".android.activities.SettingsActivity" />
            </activity>
    </application>

</manifest>
