<?xml version="1.0" encoding="utf-8"?>
<manifest package="org.droidplanner.android"
          xmlns:android="http://schemas.android.com/apk/res/android"
          android:installLocation="auto">

    <supports-screens android:requiresSmallestWidthDp="320"/>

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.VIBRATE" />

    <!-- BaiduMap dependencies -->
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <uses-feature android:name="android.hardware.screen.portrait"/>

    <!-- Support devices without Bluetooth since there are other connection types -->
    <uses-feature
        android:name="android.hardware.bluetooth"
        android:required="false"/>

    <!-- Support devices without USB host mode since there are other connection types -->
    <uses-feature
        android:name="android.hardware.usb.host"
        android:required="false"/>

    <!-- Support devices that don't have location services -->
    <uses-feature
        android:name="android.hardware.location.gps"
        android:required="false"/>
    <uses-feature
        android:name="android.hardware.location.network"
        android:required="false"/>
    <uses-feature
        android:name="android.hardware.location"
        android:required="false"/>
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true"/>

    <application
        android:name=".DroidPlannerApp"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_title"
        android:theme="@style/CustomActionBarTheme"
        android:windowSoftInputMode="adjustPan">

        <!-- You must insert your own Google Maps for Android API v2 key in here. -->
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyA2oC6zsx-Ir4be8bWFWrAej7FcKdrWGdA"/>
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>

        <!-- BaiduMap key, please replace with your own key -->
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="@string/baidu_api_key" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="${fabricApiKey}"/>

        <activity
            android:name=".activities.AccountActivity"
            android:label="@string/account_label"
            android:launchMode="singleTop"/>
        <activity
            android:name=".activities.FlightActivity"
            android:launchMode="singleTask"
            android:theme="@style/CustomActionBarTheme.Transparent">

            <!-- Launcher Intent -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.EditorActivity"
            android:label="@string/editor"
            android:launchMode="singleTop"
            android:theme="@style/CustomActionBarTheme.Transparent"
            android:windowSoftInputMode="adjustNothing">

            <!-- Intent for opening mission files -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>

                <data android:mimeType="text/plain"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.ConfigurationActivity"
            android:label="@string/menu_drone_setup"
            android:launchMode="singleTop"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name=".activities.SettingsActivity"
            android:label="@string/settings"
            android:launchMode="singleTop"/>
        <activity
            android:name=".activities.helpers.MapPreferencesActivity"
            android:label="@string/activity_title_map_provider_preferences"
            android:launchMode="singleTop"
            android:parentActivityName=".activities.SettingsActivity">

            <!-- Parent activity meta-data to support API level 7+ -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.SettingsActivity"/>
        </activity>
        <activity
            android:name=".tlog.TLogActivity"
            android:label="@string/locator"
            android:launchMode="singleTop"/>
        <activity
            android:name=".activities.WidgetActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".activities.FlightActivity">

            <!-- Parent activity meta-data to support API level 7+ -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.FlightActivity"/>
        </activity>
        <activity
            android:name=".activities.helpers.BluetoothDevicesActivity"
            android:excludeFromRecents="true"
            android:launchMode="singleTask"
            android:noHistory="true"
            android:theme="@style/CustomDialogTheme"/>
        <activity
            android:name=".maps.providers.google_map.DownloadMapboxMapActivity"
            android:excludeFromRecents="true"
            android:launchMode="singleTask"
            android:noHistory="true"
            android:theme="@style/CustomActionBarTheme.Transparent"/>

        <receiver
            android:name=".droneshare.NetworkConnectivityReceiver"
            android:enabled="false">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>

        </receiver>

        <service android:name=".AppService" />
        <service android:name=".droneshare.UploaderService" />

        <!-- BaiduMap location service -->
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" >
        </service>

    </application>

</manifest>