<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.o3dr.services.android.lib"
    android:versionCode="2"
    android:versionName="0.0.2">

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="21" />

    <permission-group
        android:description="@string/permission_group_3dr_services_description"
        android:icon="@android:drawable/ic_dialog_alert"
        android:label="@string/permission_group_3dr_services_label"
        android:name="com.o3dr.services.android.lib.permission.group.Ox3DRServices"/>

    <permission
        android:name="com.o3dr.services.android.lib.permission.ACCESS_3DR_SERVICES_API"
        android:permissionGroup="com.ox3dr.services.android.lib.permission.group.Ox3DRServices"
        android:protectionLevel="normal"
        android:icon="@android:drawable/ic_dialog_alert"
        android:label="@string/permission_access_3dr_services_api_label"
        android:description="@string/permission_access_3dr_services_api_description"
        />
</manifest>